<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Larry's reading list</title>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Podcast feed"
      href="/podcast.xml"
    />
  </head>
  <body>
    <h1>Larry's reading list</h1>

    {% for article in collections.textToSpeechPluginPages %}
    <h2>{{ article.data.title }}</h2>
    <audio controls>
      <source src="{{ article.data.mp3Url }}" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    {% endfor %}
  </body>
</html>
